* {
    background-color: white;
}

img {
    width: 250px;
    height: 200px;
}

.display {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button {
    width: 100px;
    padding: 5px;
    background-color: orange;
    color: white;
}

.board {
    display: flex;
    flex-direction: row;
}

.board-items {
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
}
