* {
    margin: 0;
    background-color: white;
    box-sizing: border-box;
}

img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

p {
    padding: 5px;
}

.display {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button {
    width: 100px;
    padding: 5px;
    background-color: orange;
    color: white;
}

.title {
    background-color: white;
    color: black;
}

.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.board-items {
    position: relative;
    padding: 10px;
    margin: 20px;
    border: 1px solid grey;
    border-radius: 10px;
}

.form,
h1,
h2,
h3,
h4 {
    margin-top: 35px;
    margin-left: 20px;
}

.box {
    text-align: center;
    background-color: black;
    padding: 20px;
    width: 70%;
    margin: auto;
    color: white;
    position: fixed;
    top: 10%;
    left: 15%;
    z-index: 1;
}

.close {
    cursor: pointer;
    background-color: black;
    text-align: end;
    color: white;
    margin-right: 30px;
}

.box h1,
h2,
p {
    background-color: black;
    color: white;
    text-align: center;
}

.title-comment {
    background-color: black;
    font-size: 20px;
}

.another-box,
.form-comment {
    background-color: black;
    color: white;
    text-align: left;
    margin-top: 40px;
}

.form-comment label,
.form-comment input {
    background-color: black;
    color: white;
}

.form-comment input {
    border-radius: 7px;
    background-color: white;
    color: grey;
}

.align {
    color: grey;
    padding-bottom: 10px;
    text-align: left;
    font-size: 28px;
}

.extra-box {
    background-color: grey;
}
